<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889364842074-e710tb34mhed9rp3qebpbd69ptd17gkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889364842074-e710tb34mhed9rp3qebpbd69ptd17gkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDWJeNjmXI3EniOoGUFW_i27cfSY5sotM4</string>
	<key>GCM_SENDER_ID</key>
	<string>889364842074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipes-app</string>
	<key>PROJECT_ID</key>
	<string>recipes-flutter-app-a94f8</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-flutter-app-a94f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889364842074:ios:7d049c60be9c170e103a63</string>
</dict>
</plist>